{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="section mt-3 mb-3">
    <div class="card">
        <div id="map" data-lat="-20.23255144034348" data-lng="57.52348545357936" title="St Pierre Kendra Shopping Mall"></div>
        <div class="card-body">
            <h6 class="card-subtitle">Point de recharge le plus proche</h6>
            <h5 class="card-title">Selectionner une borne de recharge</h5>
            <p class="card-text">
                Possibilité de rechercher et de réserver des bornes de recharge disponibles sur la plateforme en fonction de leur emplacement, de leurs besoins de charge, de leurs préférences et de leurs dates de réservation.
            </p>
        </div>
    </div>
</div>


<div class="section full mt-2">
    <div id="map" data-lat="-20.23255144034348" data-lng="57.52348545357936"></div>

</div>

{% endblock %}
