{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="section mt-2">
    <div class="profile-head">
        <div class="in">
            <h3 class="name">{{request.user.first_name}}</h3>
            <h5>{{request.user.point_accumulator}} points</h5>
        </div>
    </div>
</div>


<!-- tab content -->
<div class="section full mb-2">
    <ul class="listview image-listview media flush transparent pt-1">
        <li>
            <a href="#" class="item">
                <div class="imageWrapper">
                    <img src="{% static 'assets/img/sample/photo/1.jpg' %}" alt="image" class="imaged w64">
                </div>
                <div class="in">
                    <div>
                        TotalEnergies Keychain
                        <div class="text-muted">100 Points</div>
                    </div>
                    <span class="badge badge-primary">Redeem</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="item">
                <div class="imageWrapper">
                    <img src="{% static 'assets/img/sample/photo/2.jpg' %}" alt="image" class="imaged w64">
                </div>
                <div class="in">
                    <div>
                        Free Servicing
                        <div class="text-muted">400 points</div>
                    </div>
                    <span class="badge badge-primary">Redeem</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="item">
                <div class="imageWrapper">
                    <img src="{% static 'assets/img/sample/photo/3.jpg' %}" alt="image" class="imaged w64">
                </div>
                <div class="in">
                    <div>
                        Cooler Bag
                        <div class="text-muted">50 points</div>
                    </div>
                    <span class="badge badge-primary">Redeem</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="item">
                <div class="imageWrapper">
                    <img src="{% static 'assets/img/sample/photo/5.jpg' %}" alt="image" class="imaged w64">
                </div>
                <div class="in">
                    <div>
                        Sun Shade
                        <div class="text-muted">200 Points</div>
                    </div>
                    <span class="badge badge-primary">Redeem</span>
                </div>
            </a>
        </li>
    </ul>
</div>
<br>
<br><br><br>
<br>
<br>
<!-- * tab content -->

{% endblock %}