{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>TotalEnergies EV platform</title>
    <meta name="description" content="Electric Mobility platform">
    <meta name="keywords" content="EV, mobile app, totalenergies, charging_point" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/sample/photo/TotalEnergies_logo.svg.png' %}" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/sample/photo/TotalEnergies_logo.svg.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="manifest" href="{% static '__manifest.json' %}">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- * loader -->

    {% include 'includes/navbar.html' %}

    <!-- App Capsule -->
    <div id="appCapsule">
        {% block content%}
        {% endblock %}
        <!-- app footer -->
        {% include 'includes/footer.html' %}
        <!-- * app footer --> 
    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="{% url 'home' %}" class="item active">
            <div class="col">
                <ion-icon name="home-outline"></ion-icon>
            </div>
        </a>
        <a href="{% url 'client_dashboard' %}" class="item">
            <div class="col">
                <ion-icon name="clipboard-outline"></ion-icon>
            </div>
        </a>
        <a href="ev-borne-search-form.html" class="item">
            <div class="col">
                <div class="action-button large">
                    <ion-icon name="add-outline"></ion-icon>
                </div>
            </div>
        </a>
        <a href="{% url 'loyalty_dashboard' %}" class="item">
            <div class="col">
                <ion-icon name="sparkles-outline"></ion-icon>
            </div>
        </a>
        <a href="#sidebarPanel" class="item" data-bs-toggle="offcanvas">
            <div class="col">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
        </a>
    </div>
    <!-- * App Bottom Menu -->

    <!-- App Sidebar -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarPanel">
        <div class="offcanvas-body">
            <!-- profile box -->
            <div class="profileBox">
                <div class="image-wrapper">
                    <img src="{% static 'assets/img/sample/avatar/avatar1.jpg' %}" alt="image" class="imaged rounded">
                </div>
                <div class="in">
                    <strong>Ludovic Martingale</strong>
                    <div class="text-muted">
                        <ion-icon name="location"></ion-icon>
                        Maurice
                    </div>
                </div>
                <a href="#" class="close-sidebar-button" data-bs-dismiss="offcanvas">
                    <ion-icon name="close"></ion-icon>
                </a>
            </div>
            <!-- * profile box -->

            <ul class="listview flush transparent no-line image-listview mt-2">
                <li>
                    <a href="{% url 'home' %}" class="item">
                        <div class="icon-box bg-primary">
                            <ion-icon name="home-outline"></ion-icon>
                        </div>
                        <div class="in">
                            Découverte
                        </div>
                    </a>
                </li>

                <li>
                    <a href="page-chat.html" class="item">
                        <div class="icon-box bg-primary">
                            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <div>Chat</div>
                            <span class="badge badge-danger">5</span>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="item">
                        <div class="icon-box bg-primary">
                            <ion-icon name="moon-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <div>Dark Mode</div>
                            <div class="form-check form-switch">
                                <input class="form-check-input dark-mode-switch" type="checkbox" id="darkmodesidebar">
                                <label class="form-check-label" for="darkmodesidebar"></label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- sidebar buttons -->
        <div class="sidebar-buttons">
            <a href="#" class="button">
                <ion-icon name="person-outline"></ion-icon>
            </a>
            <a href="#" class="button">
                <ion-icon name="archive-outline"></ion-icon>
            </a>
            <a href="#" class="button">
                <ion-icon name="settings-outline"></ion-icon>
            </a>
            <a href="{% url 'logout' %}" class="button">
                <ion-icon name="log-out-outline"></ion-icon>
            </a>
        </div>
        <!-- * sidebar buttons -->
    </div>
    <!-- * App Sidebar -->

    <!-- welcome notification  -->
    <div id="notification-welcome" class="notification-box">
        <div class="notification-dialog android-style">
            <div class="notification-header">
                <div class="in">
                    <img src="{% static 'assets/img/sample/photo/TotalEnergies_logo.svg.png' %}" alt="image" class="imaged w24">
                    <strong>TotalEnergies Charging Point</strong>
                    <span>just now</span>
                </div>
                <a href="#" class="close-button">
                    <ion-icon name="close"></ion-icon>
                </a>
            </div>
            <div class="notification-content">
                <div class="in">
                    <h3 class="subtitle">Charging point Confirmation</h3>
                    <div class="text">
                        We would to confirm you that your reservation for the Charging point #4 has been approved.
                        <br>
                        TotalEnergies Mapou
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * welcome notification -->

    <!-- ============== Js Files ==============  -->
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/lib/bootstrap.min.js' %}"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="{% static 'assets/js/plugins/splide/splide.min.js' %}"></script>
    <!-- ProgressBar js -->
    <script src="{% static 'assets/js/plugins/progressbar-js/progressbar.min.js' %}"></script>
    <!-- Base Js File -->
    <script src="{% static 'assets/js/base.js' %}"></script>

    <script>
        // Trigger welcome notification after 5 seconds
        setTimeout(() => {
            notification('notification-welcome', 5000);
        }, 2000);

        //
        window.onload = function() {
            console.log(localStorage.getItem("UserName"))
            document.getElementById("welcomeName").innerHTML = localStorage.getItem("UserName");
        }
        
    </script>

</body>

</html>